In [1]:
# import pandas as pd
# import matplotlib.pyplot as plt
# data = pd.read_csv("Downloads/ToyotaCorolla.csv")
# data.head(1500)
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns 
import warnings
warnings.filterwarnings("ignore")
df = pd.read_csv("Downloads/ToyotaCorolla.csv")
df.head(100)

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,TOYOTA Corolla 2.0 D4D Linea Sol 3 Doors 2/3-D...,19950,17,4,2003,30351,Diesel,90,1,...,1,1,1,0,0,0,0,0,0,0
96,97,?TOYOTA Corolla 1.4 16V VVT I 3DR TERRA COMFOR...,15950,19,2,2003,29435,Petrol,97,1,...,1,1,1,0,0,1,1,0,0,0
97,98,TOYOTA Corolla 1.4 16V VVT I 3DR TERRA COMFORT...,15950,19,2,2003,25948,Petrol,97,1,...,1,1,1,0,0,1,1,0,0,0
98,99,TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors,18750,11,10,2003,24500,Petrol,110,1,...,1,1,1,0,1,1,1,1,0,0
99,100,TOYOTA Corolla 1.4 16V VVT I 3DR TERRA COMFORT...,17450,18,3,2003,23902,Petrol,97,1,...,1,1,1,0,0,1,1,1,0,0

In [2]:
df.info

<bound method DataFrame.info of         Id                                              Model  Price  \
0        1      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500
1        2      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750
2        3     ?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950
3        4      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950
4        5        TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750
...    ...                                                ...    ...
1431  1438         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors   7500
1432  1439  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...  10845
1433  1440  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8500
1434  1441  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7250
1435  1442        TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors   6950

      Age_08_04  Mfg_Month  Mfg_Year     KM Fuel_Type   HP  Met_Color  ...  \
0            23         10      2002  46986    Diesel   90          1  ...
1            23         10      2002  72937    Diesel   90          1  ...
2            24          9      2002  41711    Diesel   90          1  ...
3            26          7      2002  48000    Diesel   90          0  ...
4            30          3      2002  38500    Diesel   90          0  ...
...         ...        ...       ...    ...       ...  ...        ...  ...
1431         69         12      1998  20544    Petrol   86          1  ...
1432         72          9      1998  19000    Petrol   86          0  ...
1433         71         10      1998  17016    Petrol   86          0  ...
1434         70         11      1998  16916    Petrol   86          1  ...
1435         76          5      1998      1    Petrol  110          0  ...

      Central_Lock  Powered_Windows  Power_Steering  Radio  Mistlamps  \
0                1                1               1      0          0
1                1                0               1      0          0
2                0                0               1      0          0
3                0                0               1      0          0
4                1                1               1      0          1
...            ...              ...             ...    ...        ...
1431             1                1               1      0          1
1432             0                0               1      0          0
1433             0                0               1      0          0
1434             0                0               0      0          0
1435             0                0               1      0          0

      Sport_Model  Backseat_Divider  Metallic_Rim  Radio_cassette  Tow_Bar
0               0                 1             0               0        0
1               0                 1             0               0        0
2               0                 1             0               0        0
3               0                 1             0               0        0
4               0                 1             0               0        0
...           ...               ...           ...             ...      ...
1431            1                 1             0               0        0
1432            1                 1             0               0        0
1433            0                 1             0               0        0
1434            0                 1             0               0        0
1435            0                 0             0               0        0

[1436 rows x 37 columns]>

In [3]:
df.MetColor.value_counts()

AttributeError: 'DataFrame' object has no attribute 'MetColor'

In [4]:
df.HP.unique()

array([ 90, 192,  69, 110,  97,  71, 116,  98,  86,  72, 107,  73],
      dtype=int64)

In [6]:
copy_df = df.copy()
copy_df.fillna(0, inplace=True)

In [7]:
#replace all string data objects to iteger bject
from sklearn.preprocessing import LabelEncoder

In [8]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

In [9]:
# Iterate through columns and apply label encoding to each string column
for column in df.columns:
    if df[column].dtype == 'object':  # Check if the column contains strings
        df[column] = label_encoder.fit_transform(df[column])

In [10]:
# apply normalization techniques
def normalize_column(column):
    min_val = column.min()
    max_val = column.max()
    normalized_column = (column - min_val) / (max_val - min_val)
    return normalized_column

In [11]:
    # view normalized data   
df["Price"]=normalize_column(df["Price"]);
df["Age"]=normalize_column(df["Age"]);
df["KM"]=normalize_column(df["KM"]);
display(df)

KeyError: 'Age'

In [12]:
df2= df.copy()
df2.fillna(0, inplace=True)

In [13]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for column in df2.columns:
    if df2[column].dtype == 'object':
        df2[column] = label_encoder.fit_transform(df2[column])

In [14]:
def decimal_scaling(column):
    max_val = column.max()
    j = len(str(max_val))
    normalized_column = column / (10 ** j)
    return normalized_column

In [15]:
df2["Price"]=decimal_scaling(df2["Price"]);
df2["Age"]=decimal_scaling(df2["Age"]);
df2["KM"]=decimal_scaling(df2["KM"]);
display(df2)

KeyError: 'Age'

In [16]:
df3 = df.copy()
df3.fillna(0, inplace=True

SyntaxError: incomplete input (2481092251.py, line 2)

In [17]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for column in df3.columns:
    if df3[column].dtype == 'object':
        df3[column] = label_encoder.fit_transform(df3[column])

NameError: name 'df3' is not defined

In [18]:
import statistics as st
def z_score(column):
    mean = st.mean(column)
    std_dev = st.stdev(column)
    normalized_column = abs(column - mean) / std_dev
    return normalized_column

In [ ]:
df3["Price"]=z_score(df3["Price"]);
df3["Age"]=z_score(df3["Age"]);
df3["KM"]=z_score(df3["KM"]);
display(df3)